.header{
    width: 100vw;
    height: 90vh;
    background-image: url(/src/assets/Images/Hero.jpg);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.678);
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: flex; align-items: center; justify-content: center;
    z-index: 9;
}

.hero-cont-about{
    color: white;
    width: 85%;
    height: 90%;
    display: flex; align-items: center; justify-content: center;
    flex-direction: column;

}
.about{
    font-size: 4.5rem;
    font-family: monospace;
    padding: 0;
    margin: 0;
    margin-top: -2rem;
    padding: 0px 1rem;
    color:  white;
}
.a-slogan{
    width: 100%;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    margin-bottom: -1rem;
    font-weight: 400;
    text-align: center;
}
.para-note{
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dash-line{
    width: 10vw;
    background-color:#a35f2ee1;
    color:#a35f2ee1 ;
}
.statement-box{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.199);
    border-radius: 10px;
    padding: 10px;
    width: 20vw;
    height: auto;
    margin-top: -40px;
    z-index: 90;
}
.statement-box:hover{
    transition: 0.1s ease-in;
    transform: scale(1.02);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.349);
}
.statment-hero{
    display: flex;
    justify-content: space-around;
    margin-top: -80px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 820px){
     .statment-hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        margin-top: -30px;
     }
     .statement-box{
        width: 70vw;
     }
     .dash-line{
        width: 25vw;
        background-color:#a35f2ee1;
        color:#a35f2ee1 ;
    }
}
  
.D-6-Process-section{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   
}
.D-6-Process-section>h1{
    font-weight: 400;
    font-size: xx-large;
    font-weight: bold;
}

.discover{
    margin-top: -140px;
    font-weight: 900;
}
.number-proces{
    color: rgb(196, 201, 206);
    font-size: 90px;
}
.p-process{
    color: rgb(149, 151, 153); 
    font-size: 15px;
    width: 25vw;
}
.process-section-divs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: -100px;
    width: 90%;
}
.process-hero-divs{
    width: 33.33%;
}
@media only screen and (max-width: 820px){
    .about{
        font-size: 3.2rem;
        text-align: center;
        margin-bottom: 0.6rem;
    }
    .a-slogan{
        font-size: 1.8rem;
    }
    .para-note{
        width: 100% !important;
    }
    .process-section-divs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin-top: -100px;
        width: 90%;
    }
    .process-section-divs{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -100px;
        gap: 2px;
    }
    .Proces-hero-box{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center; 
    }
    .discover{
        margin-top: -140px;
        font-weight: 900;
    }
    .number-proces{
        color: rgb(196, 201, 206);
        font-size: 90px;
    }
    .p-process{
        color: rgb(149, 151, 153); 
        font-size: 15px;
        width: 60vw;
    }
   
}