
.header{
    width: 100vw;
    height: 90vh;
    background-image: url(/src/assets/Images/Hero.jpg);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.678);
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: flex; align-items: center; justify-content: center;

}

.hero-cont{
    color: white;
    width: 70%;
    height: 90%;
    display: flex; align-items: center; justify-content: center;
    flex-direction: column;

}
.services{
    font-size: 4.5rem;
    font-family: monospace;
    padding: 0;
    margin: 0;
    margin-top: -2rem;
    padding: 0px 1rem;
    color:  white;
}
.slogan{
    font-size: 2rem;
    padding: 0;
    margin: 0;
    margin-bottom: -1rem;
    font-weight: 400;
}
.para-note{
    width: 90%;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.git-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: -15px;
}
.Reach-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
}
.Get-in-touch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.message{
    width: 30vw;
    height: 50vh;
    background-color: rgb(230, 226, 226);
    box-shadow: 10px;
    box-shadow: inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contact-hero{
    display: flex;
    gap: 100px;
    padding: 35px;
}
.map-message{
    display: flex;
    gap: 5px;
}

.message>input{
    width: 21vw;
    height: 5vh;
    border-radius: 7px;
    padding: 7px;
    background-color: white;
    border-radius: none;
}
.submit-btn{
    background-color: brown;
    padding: 10px;
    border-radius: 7px;
    width: 10vw;
    color: antiquewhite;
    font-size: large;
}