
.header{
    width: 100vw;
    height: 90vh;
    background-image: url(/src/assets/Images/Hero.jpg);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.678);
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: flex; align-items: center; justify-content: center;

}

.hero-cont{
    color: white;
    width: 70%;
    height: 90%;
    display: flex; align-items: center; justify-content: center;
    flex-direction: column;

}
.services{
    font-size: 4.5rem;
    font-family: monospace;
    padding: 0;
    margin: 0;
    margin-top: -2rem;
    padding: 0px 1rem;
    color:  white;
}
.slogan{
    font-size: 2rem;
    padding: 0;
    margin: 0;
    margin-bottom: -1rem;
    font-weight: 400;
}
.para-note{
    width: 90%;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.git-info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-top: -15px;
}
.info-icon{
    color: #a35f2e;
    width: 1.5rem;
}
.Reach-us{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 
}
.Get-in-touch{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.contact-info>h6{
    font-size: 0.9rem;
    font-family: monospace;
    color: #8b4513;
    padding: 0;
    margin: 0;
}
.contact-info>h1{
    letter-spacing: 0.1rem;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}



.message-map{
    width: 30vw;
    height: 50vh;
    background-image: url(/src/assets/Images/Map.jpeg);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}


.message{
    width: 30vw;
    height: 50vh;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.contact-hero{
    display: flex;
    gap: 100px;
    padding: 35px;
    margin-top: 60px;
    margin-bottom: 40px;
}
.map-message{
    display: flex;
    gap: 5px;
}


.message>input{
    width: 25vw;
    height: 5vh;
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 7px;
    background-color: rgb(230, 226, 226);
    border-radius: none;
    border: 2px solid rgb(211, 211, 211);
}
.message>input:hover:focus{
    border: 2px solid #a35f2e;
}
input[type='message']{
    padding-bottom: 80px;
}
    
.submit-btn{
    outline: none;
    border: none;
    background-color: #8b4513;
    padding: 10px;
    border-radius: 7px;
    width: 7rem;
    color: white;
    font-size: large;
}
.submit-btn:hover{
    background-color: #a35f2e;
    cursor: pointer;
}

 


@media (max-width:1000px) {
    .submit-btn{
        padding: 0.5rem;
        border-radius: 0.2rem;
        width: fit-content;
        color: white;
        font-size: 0.9rem;
        text-wrap: nowrap;
    }
}

@media (max-width:580px) {
    .submit-btn{
        padding: 0.5rem;
        border-radius: 0.2rem;
        width: fit-content;
        color: white;
        font-size: 0.9rem;
        text-wrap: nowrap;
    }
}

@media (max-width:418px) {

    .submit-btn{
        padding: 0.5rem;
        border-radius: 0.2rem;
        width: fit-content;
        color: white;
        font-size: 0.7rem;
        text-wrap: nowrap;
    }
    .contact-hero{
        flex-direction: column;
    }
    .map-message{
        flex-direction: column;
    }
    .map-message{
        width: 90vw;
    }
    
}