.header-service-cont{
    width: 100vw;
    height: 20vh;
    background-image: url(/src/assets/Images/Hero.jpg);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.678);
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: flex; align-items: center; justify-content: start;
}
.Each-service-Hero{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
}
.hero-section{
    display: flex; align-items: flex-start; justify-content: center;
    margin-top: 20px;
    gap: 50px;

}
.each-service{
    color: white;
    background-color:  #a14600cc;
    padding: 8px;
    border-radius: 10px;
    font-size: small;
}
.call-baground{
    background-image: url(/src/assets/Images/call.jpg);
    border-radius: 10px;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    color: white;
    height: 15vw;
    margin-bottom: 20px;
}
.service-img{
    background-image: url(/src/assets/Images/Web\ Design\ &\ Development.jpg);
    background-size: cover;
    border-radius: 20px 3px;
    box-shadow: 0px 0px 30px rgba(78, 51, 1, 0.199);
    overflow: hidden;
    position: relative;
    display: flex; align-items: center; justify-content: center;
    height: 40vh;
}

.chat-btn-hero{
    text-wrap: nowrap;
    color: #a14600;
    width: 7rem;
    height: 2.4rem;
    border-radius: 0.6rem;
    outline: none;
    border: 2px solid white;
    /* box-shadow: 0px 0px 8px rgb(189, 189, 189); */
}
.chat-btn-hero:hover{
    background-color: #a14600;
    cursor: pointer;
    color: white;
}
.er{
    text-decoration: none;
}