
.header{
    width: 100vw;
    height: 90vh;
    background-image: url(/src/assets/Images/Hero.jpg);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.678);
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: flex; align-items: center; justify-content: center;

}

.hero-cont{
    color: white;
    width: 70%;
    height: 90%;
    display: flex; align-items: center; justify-content: center;
    flex-direction: column;

}
.welcome{
    font-size: 3rem;
    font-family: monospace;
    padding: 0;
    margin: 0;
    margin-top: -2rem;
    padding: 0px 1rem;
    color:  white;
    outline-style: solid;
    outline-color: white;
    text-wrap: nowrap;
}
.ameen{
    font-size: 5rem;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
    text-align: center;
    text-wrap: nowrap;
    
}

.request-btn-hero{
    text-wrap: nowrap;
    color: #a14600;
    width: 7rem;
    height: 2.4rem;
    border-radius: 0.6rem;
    outline: none;
    border: 2px solid white;
    /* box-shadow: 0px 0px 8px rgb(189, 189, 189); */
}
.request-btn-hero:hover{
    background-color: #a14600;
    cursor: pointer;
    color: white;
}

.help-sec{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.help{
    width: 90%;
    font-size: 2.5rem;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}
.help-para{
    width: 90%;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 4rem;
    font-weight: 500;
    line-height: 1.5rem;
}









@media (max-width:1000px) {
    .welcome{
        font-size: 2rem;
    }
    .ameen{
        font-size: 4rem;
        width: 90%;
        text-wrap: nowrap;
    }
    .help{
        font-size: 2rem;
    }
    .help-para{
        font-size: 1rem;
    }
}


@media (max-width:580px) {
    .welcome{
        font-size: 2rem;
    }
    .ameen{
        font-size: 3rem;
        width: 90%;
        text-wrap: nowrap;
    }
}



@media (max-width:418px) {
   .ameen{
    font-size: 2.5rem;
    width: 90%;
   }
   .welcome{
    font-size: 2rem;
   }
   .hero-cont{
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   }
}