
.header{
    width: 100vw;
    height: 90vh;
    background-image: url(/src/assets/Images/Hero.jpg);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.678);
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: flex; align-items: center; justify-content: center;
    margin-bottom: 50px;

}
body{
    background-color:  white;
}

.hero-cont-service{
    color: white;
    width: 70%;
    height: 90%;
    display: flex; align-items: center; justify-content: center;
    flex-direction: column;

}
.services{
    font-size: 4.5rem;
    font-family: monospace;
    padding: 0;
    margin: 0;
    padding: 0px 1rem;
    color:  white;
}
.slogan{
    font-size: 2rem;
    padding: 0;
    margin: 0;
    font-weight: 400;
}
.para-note{
    width: 90%;
    text-align: center;
    line-height: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.service-hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  
}
.service-hero-divs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.service-hero-box{
    display: flex;
    flex-direction: column;
    background-color:rgba(128, 128, 128, 0.24);
    border-radius: 10px;
    padding: 10px;
    gap: 5px;
    width: 20vw;
    height: auto;
}
.service-hero-box:hover{
    cursor: pointer;
    transition: 0.1s ease-in;
    transform: scale(1.02);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.349);
}
.service-hero-box>p{
    margin: 0;
    padding: 0;
}
.service-hero-box>h1{
    color: #441f04e1;
    margin: 0;
    padding: 0;
}

.our-coustomer{
    background-color:rgba(128, 128, 128, 0.24);
    padding: 10px;
    margin-bottom: 40px;
}
.Logo-coustomer{
    width: 8vw;
    cursor: pointer;
}
.coustomer-logo{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: -10px;
    margin-bottom: 30px;
    
}
.coustomer-pics{
    width: 5vw;
    height: auto;
    border-radius: 10rem;
}
.coustomer-testimony{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}
.coustomer-testimony>p{
    margin-top: 0px;
}

@media only screen and (max-width: 900px){
    .service-hero{
        width: 90%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 30px;
       margin-top: -30px;
    }
    .hero-cont-service{
        width: 85vw;
    }
    .service-hero-box{
       width: 90vw;
       height: 20vh;
       gap: 10px;
    }
    .dash-line{
       width: 25vw;
       background-color:#a35f2ee1;
       color:#a35f2ee1 ;
   }
}
@media only screen and (max-width: 419px){
    .service-hero{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 30px;
       margin-top: -30px;
    }
    .service-hero-box{
       width: 65vw;
       height: auto;
       gap: 10px;
    }
    .services{
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    .slogan{
        font-size: 1.7rem;
        text-align: center;
    }
    .dash-line{
       width: 25vw;
       background-color:#a35f2ee1;
       color:#a35f2ee1 ;
   }
   .course-icon{
    font-size: 1.3rem;
    color: #a35f2ee1;
   }
   .coustomer-pics{
    width: 4rem;
    margin-bottom: 0.3rem;
   }
   .coustomer-logo{
    width: 85%;
   }
   .logo-coustomer{
    width: 3rem;
   }
}