
.call-tag{
    width: 60vw;
    height: 20vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-left: 20px;
    margin-left: 200px;
    margin-bottom: 20px;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-top: 6rem;
}
.call-tag-mes{
    width: 75%;
}
.call-tag:hover{
    transition: 0.1s ease-in;
    transform: scale(1.02);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.349);
}



@media (max-width:1000px) {
    .call-tag{
        width: 80%;
        margin: auto;
    }
    .call-tag-mes{
        width: 80%;
    }  
}

@media (max-width:580px) {
    .call-tag{
        width: 85%;
        height: 10rem;
        margin: auto;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .call-tag-mes{
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .call-tag-mes>p{
        text-align: center;
        font-size: 0.9rem;
        margin: 0;
        padding: 0;
    }  
}

@media (max-width:418px) {
    .call-tag{
        width: 85%;
        height: 10rem;
        margin: auto;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
    }
    .call-tag-mes{
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .call-tag-mes>p{
        text-align: center;
        font-size: 0.9rem;
        margin: 0;
        padding: 0;
    }
    .call-tag-mes>h1{
        text-align: center;
    }

}

.call-tag{
    margin-top: 3.5rem;
}