.Footer{
    margin-top: 80px;
    background-color: #8b4513;
    color: white;
    width: 100vw;
   }
.footer-up{
    display: flex;
    justify-content: space-between;
    color: white;
}
.Logo-footer{

    margin-top: 1rem;
    width: 10rem;

}
.Logo-footer-text{
    font-size: 17px;
    width: 35vw
}
.icon{
    display: flex;
    gap: 5px;
}

.copyright>p{
    margin-left: 25px;
}
.git-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: -15px;
}
.copyright{
    font-size: 0.9rem;
    padding-bottom: 1rem;
}


@media only screen and (max-width: 800px){
    .footer-up{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        background-color: #8b4513;
        color: white;
    }
    .Logo-footer{
        width: 8rem;
    }
    .copyright{
        margin: auto;
    }
    
     .copyright>p{
        margin-left: 25px;
        font-size: 11px;
        width: fit fit-content;
        line-height: 1.2rem;
        text-align: center;
        margin: auto;
    }
    .Logo-footer-text{
        font-size: 15px;
        width: 100%;
        line-height: 1.2rem;
    }
    .Get-in-touch-div{
        font-size: 10px;
        width: 35vw
    }
    .Bussiness-div{
        font-size: 16px;
        width: 50%;
    }
    .company-div{
        font-size: 16px;
        width: 50%;
    }
    .Get-in-touch-div{
        width: 50%;
    }
    .git-info{
        font-size: 16px;
    }
    .icon{
        gap: 2rem;
    }
    .page-link{
        width: 1.5rem;
        height: 1.5rem;
    }

    .logo-side{
        width: 100%;
    }
};