.nav-bar{
    width: 100vw;
    height: 4rem;
    background-color: #8b4513;
    box-shadow: 0px 0px 8px rgb(59, 59, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;

}
.nav-content{
    width: 93%;
    height: 100%;
    display: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-pages{
    width: 37%;
    display: flex;
    justify-content: space-between;
}
.page-link{
    text-decoration: none;
    color: white;
    font-weight: 500;
    letter-spacing: 0.1rem;
}
.page-link:hover{
    color: #e9cab4;
}
.logo{
    width: 8rem;
}


/* .request-btn{
    text-wrap: nowrap;
    color: #8b4513;
    width: 6.5rem;
    height: 2.4rem;
    background-color: white;
    border-radius: 0.2rem;
    outline: none;
    border: none;
    box-shadow: 0px 0px 8px rgb(189, 189, 189);
}
.request-btn:hover{
    background-color: #d4c4b8;
    cursor: pointer;
    color: white;
} */

.side-bar-toggle{
    display: flex;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100vh;
    padding: 3rem;
    z-index: 10;
    position: absolute;
}
.toggle-icon-2{
    font-size: 2rem;
    color: #8b4411;
}
.toggle-icon-1{
    font-size: 2rem;
    color: white;
}

.toggle-icon-box{
    width: 2.5rem;
    display: flex;
    z-index: 20;
}
.nav-pages-toggle{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 80%;
    
}
.page-link-tgl{
    color: #8b4513;
    font-weight: 600;
    border-bottom: 0.2rem solid #d8d8d8;
    padding-bottom: 0.5rem;
    width: 100%;
    text-decoration: none;
}


@media (max-width:1000px) {
    .nav-pages{
        width: 43%;
        font-size: 0.9rem;
    }
}

@media (max-width:580px) {
    .nav-pages{
        visibility: hidden;
    }
    .page-link{
        font-size: 1rem;
    }
}

@media (max-width:418px) {
        .nav-pages{
            position: absolute;
            visibility: hidden;
        }
    .logo{
        width: 5.5rem;
    }
}
